<div class="jumbotron">
  <h2>Standards report for <%= @student.name %></h2>
  <p>Filter by Subject:</p>
  <div>
    <% @standards.each do |standard| %>
      <h3 onclick="displayHandler(this.innerHTML)" class="btn btn-toolbar btn-warning"><%= standard[0] %></h3>
    <% end %>
  </div>
</div>


 <table class='table table-hover'>
   <tbody>
     <% @standards.each do |subject, standards| %>
       <% standards.each do |standard| %>
         <tr class="<%= subject %> standards" >
           <td>
             <h2 class="info page-header"> <%= standard.subject %></h2>
             <h4><%= standard.description %></h4><br />

             <div class="flash_<%= standard.id %>"></div>


             <% if @student.standards.include?(standard) %>

               <% @student.student_standards.where(standard_id: standard).each do |student_standard| %>
                   <a name="<%= student_standard.id %>"></a>
                  <%= render student_standard %>
                <% end %>

              <% else %>

                 <div class="form-wrapper" id= "standard_<%= standard.id %>">
                    <%= bootstrap_form_for [@student, StudentStandard.new], remote: true do |f| %>
                    <%= f.hidden_field :standard_id, value: standard.id %>
                    <%= f.check_box :completed %>
                    <%= f.text_area :notes %>
                    <%= f.text_area :assignments %>
                    <%= f.submit 'Save', class: 'btn btn-success' %>
                 </div>
                 <% end %>

              <% end %>

            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
