<h1>Standards report for <%= @student.name %></h1>

<table class='table'>
  <thead>
    <tr>
      <th><h2><%= @standards.first.first %></h2></th>
    </tr>
  </thead>
  <tbody>
    <% @standards.each do |subject, standards| %>
    <% standards.each do |standard| %>
    <tr>
      <td>
        <h3><%= standard.description %></h3>
        <hr>
        <% if @student.standards.include?(standard) %>
          <h4 class='badge badge-attained'>Standard attained</h4>
        <% else %>
          <div class="form-wrapper">
            <%= bootstrap_form_for [@student, StudentStandard.new] do |f| %>
            <%= f.hidden_field :standard_id, value: standard.id %>
            <%= f.check_box :attained %>
            <%= f.text_area :notes %>
            <%= f.text_area :assignments %>
            <%= f.submit 'Save', class: 'btn btn-default' %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
