<div class="form-wrapper" id= "standard_<%= @standard_id %>">
  <%= bootstrap_form_for [@student, @student_standard], remote: true do |f| %>
    <%= f.check_box :completed %>
    <%= f.text_area :assignments %>
    <%= f.text_area :notes %>
    <%= f.submit 'Save', class: 'btn btn-success' %>
</div>
<% end %>
