<!DOCTYPE html>
<html>
<head>
  <title>TheNewStandard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.all.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default page-nav">
    <div class="flash">
      <%= render 'layouts/messages' %>
    </div>
    <div class="navbar-header navbar-brand">
      <% if user_signed_in? %>
        <%= "#{current_user.name}'s Standard App" %>
      <% end %>
    </div>
     <div class="container">
       <ul class="nav navbar-nav pull-right">
         <% if user_signed_in? %>
           <li> <%= link_to "#{current_user.name}'s Class List", user_path(current_user) %> </li>
           <li> <%= link_to "Home", root_path %></li>
           <li> <%= link_to "Edit Account", edit_user_registration_path %></li>
           <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li> <%= link_to "Sign In", new_user_session_path  %> </li>
        <% end %>
          <li> <%= link_to "Sign Up", new_user_registration_path %></li>
       </ul>
     </div>
  </nav>


  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
