<!DOCTYPE html>
<html>
<head>
  <title>TheNewStandard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.all.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default page-nav">
    <div class="flash">
      <%= render 'layouts/messages' %>
    </div>
     <div class="navbar-header">
       <% if user_signed_in? %>
         <%= link_to "#{current_user.name}'s Students", user_path(current_user), class: "navbar-brand"  %>
       <% end %>
     </div>
     <div class="container">
       <ul class="nav navbar-nav pull-right">
         <li> <%= link_to "Sign Up", new_user_registration_path %></li>
         <% if user_signed_in? %>
           <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
           <strong> <%= current_user.name %> </strong>
        </li>
        <% else %>
          <li> <%= link_to "Sign In", new_user_session_path  %> </li>
        <% end %>
       </ul>
     </div>
  </nav>


  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
